## Question 1

In [1]:
# all number divisible by 7 and not multiple of 5 between 2000 and 3200

lst=[]                        # defining list
for x in range(2000,3207):    # using for loop and declaring range to check each number 
    if(x%7==0) and (x%5!=0):  # Setting if condition and using "and" operator to get numbers divisible by 7 and not a multiple of 5
        lst.append(int(x))    # appending list with the result
print(lst)                    # printing the output

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199, 3206]

## Question 2

In [3]:
# Print first name and last name in reverse order

first_name = input(" ")
last_name = input(" ")
lst = []
lst.append(first_name)
lst.append(last_name)
for x in lst:
    if type(x)== str:
        print(x[::-1],end=" ")

 Sachin
 Tendulkar
nihcaS rakludneT

## Question 3

In [4]:
# Program to find Volume of a sphere with diameter 12 cm

diameter = 12
radius=diameter/2
v = (4/3)*(3.141)*(radius**3) # since pi = 3.141
print("Volume of sphere is", v)

Volume of sphere is 904.608

## Question 4

In [6]:
# Program to accept input and generate list

lst=[]
i=0
while i<=4:
    x = input(" ")
    i = i+1
    lst.append(int(x))
    
print(lst)

 12
 32
 43
 54
 21
[12, 32, 43, 54, 21]

## Question 5

In [7]:
# Program to generate a specific pattern using nested for loop

# To generate upper pattern

for x in range(1,6):          # Setting range 1 to 6 so that 1 is included and 6 is excluded
    for y in range(x):        # assigning the value of x to range for iteration
        print("*",end=" ")    # printing the output
    print(end='\n')           # Using this print() menthod to work as '\n'
    
    # to generate the lower half of the pattern
    
for x in range(4,-1,-1):      # Setting range 4 to -1 with step -1,so that 4 and 1 bothe are included.
    for y in range(x):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## Question 6

In [ ]:
# Program to reverse input 

Name = input(" ")     # Inpit method to accept the input
lst = list(Name)      # converted the defined string into a list for interation
for x in lst[::-1]:   # for loop for iterating each letter of string
    print(x[::-1],end="") # printing the output.

## Question7

In [9]:
#Program to print string in a specified format

print("""WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,!
\t      SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
\t       and to secure to all its citizens""")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
	      SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
	       and to secure to all its citizens